# данные
data/cek.json
data/dtek.json
data/users.db
data/message.txt
data/list_of_all_users.txt
#data

# python
__pycache__/
*.pyc

# окружение
.venv/
venv/

# ide
.vscode/
.idea/

.DS_Store

data/.env